<div class="container">
  <h1>Basket Page</h1>
  <!-- Button to return to home page -->
  <a href="/" class="btn btn-primary">Home</a>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Price</th>
        <th>Stock</th>
    </thead>
    <tbody>
      <% if @basket.present? %>
        <% @basket.each do |basket_item| %>
          <% @prod = Product.find(basket_item.product_id)%>
          <tr>
              <td><%= @prod.name %></td>
              <td><%= @prod.description %></td>
              <td><%= @prod.category %></td>
              <td><%= number_to_currency(@prod.price / 100.0) %></td>
              <td><%= @prod.stock %></td>
          </tr>
        <% end %>
      <% else %>
          <tr>
              <td colspan="5">No items in the basket</td>
          </tr>
      <% end %>
      </tbody>
  </table>

</div>
