<div class="inventory-section">
  <%= simple_form_for @inventory, url: inventory_path(@inventory), method: :patch do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :quantity %>
      <%= f.number_field :quantity %>
    </div>
    <div class="field">
      <%= f.label :unit %>
      <%= f.text_field :unit %>
    </div>
    <%= f.button :submit, 'Update Inventory Item', class: 'btn btn-primary' %>
  <% end %>
</div>
