<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
          <h3 class="text-center mb-0">Welcome to Your Inventory</h3>
          <%= link_to 'Home', root_path, class: 'btn btn-light btn-sm' %>
        </div>
        <div class="card-body">
          <%= simple_form_for @inventory do |f| %>
            <div class="form-group">
              <%= f.label :name, class: "font-weight-bold" %>
              <%= f.text_field :name, class: 'form-control', placeholder: "Enter item name" %>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <%= f.label :quantity, class: "font-weight-bold" %>
                <%= f.select :quantity, options_for_select((1..10).map { |n| [n, n] }), {}, class: 'form-control' %>
              </div>
              <div class="form-group col-md-6">
                <%= f.label :unit, class: "font-weight-bold" %>
                <%= f.select :unit, options_for_select(['kg', 'grams', 'liters', 'pieces']), {}, class: 'form-control' %>
              </div>
            </div>
            <%= f.button :submit, class: 'btn btn-primary btn-block' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6">
      <h4>Your Inventory:</h4>
      <ul class="list-group mt-3">
        <% @inventory_items.each do |inventory| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= inventory.name %> - <%= inventory.quantity %> <%= inventory.unit %>
            <div>
              <%= link_to 'Edit', edit_inventory_path(inventory), class: 'btn btn-secondary btn-sm mr-2' %>
              <%= button_to 'Delete', inventory_path(inventory), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
