<div class="inventory-section">
  <%= simple_form_for @inventory do |f| %>
    <%= f.input :name %>
    <%= f.input :quantity, as: :integer %>
    <%= f.button :submit %>
  <% end %>

</div>

  <%= render @inventory_items %>