<div class="logo-container">
<%= image_tag 'econocuisine.png', alt: 'Logo', class: "logo" %>
</div>

<h1 class="title">Econocuisine</h1>

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <%= image_tag 'th.jpg'%>
    </div>
    <div class="swiper-slide">
      <%= image_tag 'th (1).jpg'%>
    </div>
    <div class="swiper-slide">
      <%= image_tag 'th (2).jpg'%>
    </div>
    <!-- More slides -->
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

<% if user_signed_in? %>
<div class="button-container">
  <%= link_to 'Inventory', inventories_path, class: 'btn btn-primary' %>
  <%= link_to 'Budget', budgets_path, class: 'btn btn-primary' %>
</div>
  <%= link_to 'Le Wagon SuperMarket', le_wagon_supermarket_path, class: 'btn btn-primary' %>
<% end %>
