<h1>Products</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Price</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.category %></td>
        <td><%= number_to_currency(product.price / 100.0) %></td> <!-- Assuming price is stored in cents -->
        <td><%= product.stock %></td>
      </tr>
    <% end %>
  </tbody>
</table>
