<!-- app/views/products/index.html.erb -->
<h1>Products</h1>
<div class="products-list">
  <% @products.each do |product| %>
    <div class="product">
      <h2><%= product.name %></h2>
      <p><%= product.description %></p>
      <p>Category: <%= product.category %></p>
      <p>Price: <%= product.price %></p>
      <p>Stock: <%= product.stock %></p>
      <p>Quantity Unit: <%= product.quantity_unit %></p>
      <!-- Move the "Add to Basket" link inside the loop -->
      <%= link_to "Add to Basket", add_to_basket_product_path(product), method: :post %>
    </div>
  <% end %>
</div>
