<div class="container">
    <h1 class="mb-4 text-center">Welcome to Le Wagon SuperMarket</h1>
    <div class="row justify-content-center">
        <a href="/" class="home-link">
            <span class="home-icon">🏠</span>
            <span class="home-text">Back to Home</span>
        </a>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <ul class="list-unstyled products-list">
                <% @products.each do |product| %>
                <li class="product mb-4">
                    <div class="row">
                        <div class="col-md-8">
                            <h2><%= product.name %></h2>
                            <p><%= product.description %></p>
                            <p>Price: Rs <%=(product.price) %></p>
                            <%= form_with(model: product, url: add_to_basket_path(id: product.id), method: :post, local: true) do |form| %>
                            <%= form.hidden_field :product_id, value: product.id %>
                            <div class="form-group">
                                <%= form.label :quantity_bought %>
                                <%= form.text_field :quantity_bought, class: "form-control" %>
                            </div>
                            <%= form.submit "Add to Basket", class: "btn btn-primary" %>
                            <% end %>
                        </div>
                        <div class="col-md-4">
                            <%= image_tag product.image if product.image.attached? %>
                        </div>
                    </div>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
