<div class="container">
    <h1 class="mb-4">Welcome to Le Wagon SuperMarket</h1>
    <!-- Button to return to home page -->
      <a href="/" class="btn btn-primary">Home</a>
    <ul class="products-list">
        <% @products.each do |product| %>
        <li class="product">
            <%= image_tag product.image if product.image.attached? %>
            <h2><%= product.name %></h2>
            <p><%= product.description %></p>
            <p>Price: Rs <%=(product.price) %></p>
            <%= form_with(model: product, url: add_to_basket_path(id: product.id), method: :post, local: true) do |form| %>
            <%= form.hidden_field :product_id, value: product.id %>
            <div class="field">
                <%= form.label :quantity_bought %>
                <%= form.text_field :quantity_bought, class: "form-control" %>
            </div>
            <%= form.submit "Add to Basket", class: "btn btn-primary" %>
            <% end %>
        </li>
        <% end %>
    </ul>
</div>
