<div class="container">
    <h1 class="mb-4 text-center">Welcome to Le Wagon SuperMarket</h1>
    <div class="row justify-content-center">
        <a href="/" class="home-link">
            <span class="home-icon">🏠</span>
            <span class="home-text">Back to Home</span>
        </a>
    </div>
    <div class="row">
        <% @products.each do |product| %>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <%= image_tag product.image, class: "card-img-top" if product.image.attached? %>
                <div class="card-body">
                    <h5 class="card-title"><%= product.name %></h5>
                    <p class="card-text"><%= product.description %></p>
                    <p class="card-text">Price: Rs <%= product.price %></p>
                </div>
                <div class="card-footer">
                    <%= form_with(url: add_to_basket_basket_path(product), method: :post, local: true) do |form| %>
                      <%= hidden_field_tag :product_id, product.id %>
                      <div class="form-group">
                        <%= label_tag :quantity, 'Quantity' %>
                        <%= number_field_tag :quantity, 1, class: "form-control", min: 1 %>
                      </div>
                      <%= submit_tag "Add to Basket", class: "btn btn-primary btn-block" %>
                    <% end %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>
